.ResetPassword {
  height: 82vh;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 3rem;

  &_Icon {
    width: 7rem;
    height: 7rem;
    fill: #cc3366;
  }
  &_Form {
    display: grid;
    width: 60%;

    @media only screen and (max-width: 37.5em) {
      & {
        width: 90%;
      }
    }

    &__Button {
      justify-self: center;
    }
  }

  &_Button {
    justify-self: center;
    margin-bottom: 2rem;
    &:hover {
      background-image: linear-gradient(to right bottom, #1ca4d1, #16adaf);
    }
    background-image: linear-gradient(to right bottom, #00bfff, #00ced1);
  }
}
